@import "tailwindcss";

@import "./sneat/vendor/fonts/boxicons.css";
@import "./sneat/vendor/css/core.css";
@import "./sneat/vendor/css/theme-default.css";
@import "./sneat/css/demo.css";
@import "./sneat/vendor/libs/perfect-scrollbar/perfect-scrollbar.css";
@import "./sneat/vendor/libs/apex-charts/apex-charts.css";
@import "./sneat/vendor/css/pages/page-auth.css";
