@import "sneat/css/core.css";
@import "sneat/css/theme-default.css";
@import "sneat/css/demo.css";
@import "sneat/vendor/libs/perfect-scrollbar/perfect-scrollbar.css";
@import "sneat/vendor/libs/boxicons/boxicons.css";
@import "sneat/vendor/libs/apex-charts/apex-charts.css";
@import "/vendor/fonts/boxicons.css";
